body {
  padding: 0px;
  font-family: sans-serif;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.no-results {
  text-align: center;
}

.border {
  border: solid 1px black;
}

.transaction-details {

  #back {
    font-size: 50px;
    margin: 10px;
  }
}

.transactions-header {
  background-color: lightblue;
  margin-bottom: 0px;
  padding: 15px;
}

.transaction-input {
  vertical-align: middle;
  margin-bottom: 0px;
  margin-top: 0px;

  .form-control-feedback {
    right: initial;
    top: 35px;
    left: 15px;
    color: #ccc;
  }

  input {
    padding: 15px 15px 5px 65px;
    min-height: 100px;;
    line-height: 65px;
    font-size: 40px;
  }
}

.transactions {

  width: 100%;

  table {
    
    width: 100%;

    td {
      padding: 15px;

      &.disclosure {
        width: 20px;
      }

      &.amount-col {
        min-width: 230px;
      }
    }

    .transaction-date {
      text-align: center;
      color: white;
      background-color: #343a40;
    }

    .transaction {

      overflow: auto;
  
      .box {
        padding: 10px;
        height: 68px;
        font-size: 30px;
      }
  
      .amount {
        text-align: right;
      }
  
      .name {
        overflow: hidden;
        text-decoration: underline;
        font-size: 40px;
      }
    }
  }

}

